<div class="content">
   <div class="titlePage">
      <h1>{{titlePage}}</h1>
  </div>

  <mat-tab-group>

   <mat-tab *ngFor="let item of studiesData" label={{item.shortTitle}} >
       <h4 class="titleTabs">{{item.title}}</h4>
       <p class="itemTabs">{{item.institute}}</p>
       <p class="itemTabs">{{item.place}}</p>
       <p class="itemTabs">Desde: {{item.since}} - Hasta {{item.until}}</p>
       <ul *ngIf="item.functions">
           <h5>Funciones</h5>
           <li *ngFor="let item of item.functions">{{item}}</li>
       </ul>
   </mat-tab>
 </mat-tab-group>
</div>
