.instituteAvatar {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
    }
}

.trainingContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .trainingItem {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        max-width: 350px;
        transition: all .7s ease-in-out;
        &:hover {
            box-shadow: 3px 3px 20px -3px rgba(0,0,0,0.62);
        }
        
        &__header {
            margin: 0;
            padding: 0;

            .mat-card-header-text {
                margin-left: 0 !important;
            }

            &__titleTraining, .mat-card-title {
                font-size: 1rem !important;
                font-weight: 400 !important;
            }
    
            &__subtitleTraining {
                font-weight: 900 !important;
            }
        }
    }
    .mat-card-image {
        flex-grow: 0;
    }
    .mat-card-content {
        flex-grow: 0;
    }
}

@media (min-width: 768px) {
    .trainingContent {
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
        flex-wrap: wrap;
        .trainingItem {
            flex-basis: 300px;
            box-sizing: border-box;
            display: flex !important;
            flex-direction: column;
            align-items: flex-start;
            justify-content: end;
            flex-grow: 1 !important;
            min-height: 420px;
            &__header {
                flex: 1 1 auto;
            }
        }
    }
    .mat-card-header {
        flex: 1 1 auto !important;
    }
}