@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

html, body { 
    height: 100%;
    padding: 0;
    margin: 0;
}

body {  
    font-family: 'Roboto', sans-serif;
 }

  /**********
 *** FONTS
 **********/
 h1, h2 {
     font-weight: 100 !important;
 }



 /**********
 *** LAYOUTS
 **********/
 .content {
     padding: 1rem;
     margin-bottom: 50px;
 }

.titlePage {
     display: block;
     text-align: center;
     h1 {
        font-size: 2rem !important;
     }
 }

   /**********
 *** MAT-TABS
 **********/
 .mat-tab-body-content {
     padding: 1rem;
     .titleTabs {
        font-weight: 700;
        font-size: 1.1rem;
     }
     ul {
         padding-left: 1rem;
         
         h5 {
             font-size: 1rem;
             margin-top: 1.2rem;
         }
     }
 }
