@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

html, body { 
    height: 100%;
    padding: 0;
    margin: 0;
}

body {  
    font-family: 'Roboto', sans-serif;
 }

  /**********
 *** FONTS
 **********/
 h1, h2 {
     font-weight: 100 !important;
 }


 /**********
 *** LAYOUTS
 **********/
 .content {
     padding: 1rem;
 }

.titlePage {
     display: block;
     text-align: center;
 }